/* Projects */
.all-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0 1rem;
}

.project-desc {
  background: #fff;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.proj-title {
  color: var(--secondary-color);
  font-size: 1.08rem;
  margin-bottom: 5px;
  align-self: flex-start;
}

.proj-deets {
  font-size: 0.9rem;
}

/* Overlay */
.proj {
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(161, 163, 163);
}

.image {
  width: 100%;
  height: 25vh;
  transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
  display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(15, 127, 155, 0.7);
  overflow: hidden;
  width: 100%;
  height:0;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
}

.proj:hover .overlay {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  bottom: 0;
  height: 100%;
}

.proj:hover .image {
  transform: scale(1.1);
}

.proj:hover .about-proj {
  opacity: 1;
}

.about-proj {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.about-proj a{
  color: #fff;
  background: #5f2c0f;
  padding: 12px;
  border-radius: 50%;
}

.about-proj > a{
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .all-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .all-projects {
    grid-template-columns: 1fr;
  }
}